.detail {
  padding: 30px;
  overflow: scroll;
  height: 100vh;
  padding-bottom: 100px;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
}

.detail-card-container {
  padding-top: 20px;
}

.detail-card {
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  min-height: 80vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
}

.question-spacer {
  flex-grow: 1;
}

.next-question {
  height: 60px;
  background: #2850f7;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  padding: 5%;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.progress-bar {
  position: fixed;
  width: 0vw;
  height: 8px;
  transition: all 0.1s;
  top: 0;
  left: 0;
  background: #2850f7;
}

.total {
  position: fixed;
  top: 12px;
  right: 12px;
  font-size: 14px;
  color: #666;
  background: #fff;
  font-weight: bold;
  padding: 6px;
  opacity: 0.7;
  border-radius: 10px;
}

.carousel-content {
  display: flex;
  transition: transform 0.3s ease-in-out;
  padding-top: 10%;
  /* padding: 30px; */
  height: 100vh;
  /* padding-bottom: 100px; */
}

.slide {
  min-width: 100%;
  /* box-sizing: border-box; */
  border-radius: 20px;
  background: #fff;
  padding: 20px;
  min-height: 30vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  border: 3px solid #000;
}

.question-type {
  color: #666;
}

.detail-title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 14px;
  margin-bottom: 20px;
}

.question-button {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 5%;
  width: 100%;
  gap: 5%;
}

.question-button .button {
  flex:1;
  background: #2850f7;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  padding: 10px 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}